<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Welcome to Chitter! </title>
  </head>
  <body>
    <h1> Twitter </h1>

    <form action="/users/new" method="get">
      <input type="submit" value="Sign Up!">
    </form>

    <% if @user %>
      <h3>Welcome, <%= @user.email %></h3>
    <% end %>

    <br>
    <p>
      Write a tweet:
    </p>
    <form action="/posted_peep" method="post">
      <input type="text" name="post_peep">
      <input type="submit" value="Submit">
    </form>

    <p>
      Your timeline:
    </p>
    <ul>
      <% @peeps.select do |peep| %>
      <li> <%= peep.text %> - posted: <%= peep.time %> </li>
      <% end.reverse %>
    </ul>
  </body>
</html>
